In [98]:
import pandas as pd
import numpy as np
import cufflinks as cf
import plotly as pt
cf.go_offline()




df = pd.read_csv('population_by_country_2020.csv')

In [99]:
df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [100]:
df.shape

(235, 11)

In [101]:
df.dtypes

Country (or dependency)     object
Population (2020)            int64
Yearly Change               object
Net Change                   int64
Density (P/Km²)              int64
Land Area (Km²)              int64
Migrants (net)             float64
Fert. Rate                  object
Med. Age                    object
Urban Pop %                 object
World Share                 object
dtype: object

In [102]:
df['Fert. Rate'].unique()

array(['1.7', '2.2', '1.8', '2.3', '3.6', '5.4', '2.1', '1.4', '4.3',
       '2.6', '3.3', '6.0', '1.6', '1.5', '1.9', '1.3', '4.9', '2.4',
       '3.5', '1.1', '5.0', '3.1', '4.4', '3.7', '4.6', '5.6', '2.0',
       '3.9', '3.8', '4.1', '4.7', '7.0', '1.2', '5.2', '5.9', '2.8',
       '2.9', '2.5', '5.8', '6.1', '5.5', '3.0', '2.7', '4.5', '4.8',
       '3.4', '5.3', '4.0', '3.2', '4.2', 'N.A.'], dtype=object)

In [103]:
df.isnull().sum()

Country (or dependency)     0
Population (2020)           0
Yearly Change               0
Net Change                  0
Density (P/Km²)             0
Land Area (Km²)             0
Migrants (net)             34
Fert. Rate                  0
Med. Age                    0
Urban Pop %                 0
World Share                 0
dtype: int64

In [104]:
l = []
for i in df['Fert. Rate']:
    if i == 'N.A.':
        l.append(0)
    else:
        l.append(float(i))
df['Fert_Rate'] = l

In [105]:
df.drop(['Fert. Rate'],axis = 1,inplace=True)

In [106]:
l = []
for i in df['Med. Age']:
    if i == 'N.A.':
        l.append(0)
    else:
        l.append(float(i))
df['Med_Age'] = l

In [107]:
df.drop(['Med. Age'],axis = 1,inplace=True)

In [108]:
l = []
for i in df['Yearly Change']:
    l.append(float(i.replace(' %','')))

In [109]:
df['Yearly Change']=l

In [110]:
df['Urban Pop %'].unique()

array(['61 %', '35 %', '83 %', '56 %', '88 %', '52 %', '39 %', '74 %',
       '84 %', '92 %', '21 %', '47 %', '43 %', '38 %', '46 %', '76 %',
       '51 %', '82 %', '69 %', '37 %', '67 %', '31 %', '28 %', '80 %',
       '26 %', '93 %', '73 %', '25 %', '60 %', '81 %', '64 %', '50 %',
       '79 %', '78 %', '57 %', 'N.A.', '63 %', '86 %', '17 %', '18 %',
       '44 %', '55 %', '85 %', '58 %', '45 %', '49 %', '24 %', '23 %',
       '48 %', '14 %', '70 %', '98 %', '91 %', '66 %', '72 %', '27 %',
       '13 %', '36 %', '62 %', '53 %', '54 %', '87 %', '68 %', '96 %',
       '71 %', '59 %', '89 %', '33 %', '41 %', '30 %', '100 %', '29 %',
       '65 %', '94 %', '19 %', '95 %', '97 %', '0 %', '15 %', '75 %',
       '10 %'], dtype=object)

In [111]:
l = []
for i in df['Urban Pop %']:
    if i =='N.A.':
        l.append(0)
    else:
        l.append(int(i.replace(' %','')))

In [112]:
df['Urban Pop %'] = l

In [113]:
df['World Share'].unique()

array(['18.47 %', '17.70 %', '4.25 %', '3.51 %', '2.83 %', '2.73 %',
       '2.64 %', '2.11 %', '1.87 %', '1.65 %', '1.62 %', '1.47 %',
       '1.41 %', '1.31 %', '1.25 %', '1.15 %', '1.08 %', '1.07 %',
       '0.90 %', '0.87 %', '0.84 %', '0.78 %', '0.77 %', '0.76 %',
       '0.70 %', '0.69 %', '0.66 %', '0.65 %', '0.60 %', '0.59 %',
       '0.58 %', '0.56 %', '0.52 %', '0.50 %', '0.49 %', '0.48 %',
       '0.47 %', '0.45 %', '0.43 %', '0.42 %', '0.40 %', '0.38 %',
       '0.37 %', '0.36 %', '0.34 %', '0.33 %', '0.31 %', '0.27 %',
       '0.26 %', '0.25 %', '0.24 %', '0.23 %', '0.22 %', '0.21 %',
       '0.20 %', '0.19 %', '0.17 %', '0.16 %', '0.15 %', '0.14 %',
       '0.13 %', '0.12 %', '0.11 %', '0.10 %', '0.09 %', '0.08 %',
       '0.07 %', '0.06 %', '0.05 %', '0.04 %', '0.03 %', '0.02 %',
       '0.01 %', '0.00 %'], dtype=object)

In [114]:
l = []
for i in df['World Share']:
    l.append(float(i.replace(' %','')))

In [115]:
df['World Share'] = l

In [116]:
df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Urban Pop %,World Share,Fert_Rate,Med_Age
0,China,1440297825,0.39,5540090,153,9388211,-348399.0,61,18.47,1.7,38.0
1,India,1382345085,0.99,13586631,464,2973190,-532687.0,35,17.70,2.2,28.0
2,United States,331341050,0.59,1937734,36,9147420,954806.0,83,4.25,1.8,38.0
3,Indonesia,274021604,1.07,2898047,151,1811570,-98955.0,56,3.51,2.3,30.0
4,Pakistan,221612785,2.00,4327022,287,770880,-233379.0,35,2.83,3.6,23.0

In [117]:
df.dtypes

Country (or dependency)     object
Population (2020)            int64
Yearly Change              float64
Net Change                   int64
Density (P/Km²)              int64
Land Area (Km²)              int64
Migrants (net)             float64
Urban Pop %                  int64
World Share                float64
Fert_Rate                  float64
Med_Age                    float64
dtype: object

In [118]:
import json

In [119]:
df1 = pd.read_json('custom.geo.json')

In [120]:
l = json.load(open('custom.geo.json','r'))

In [121]:
l['features'][0].keys()

dict_keys(['type', 'properties', 'geometry'])

In [122]:
l['features'][14]['properties']

{'scalerank': 1,
 'featurecla': 'Admin-0 country',
 'labelrank': 5,
 'sovereignt': 'United States of America',
 'sov_a3': 'US1',
 'adm0_dif': 1,
 'level': 2,
 'type': 'Dependency',
 'admin': 'Puerto Rico',
 'adm0_a3': 'PRI',
 'geou_dif': 0,
 'geounit': 'Puerto Rico',
 'gu_a3': 'PRI',
 'su_dif': 0,
 'subunit': 'Puerto Rico',
 'su_a3': 'PRI',
 'brk_diff': 0,
 'name': 'Puerto Rico',
 'name_long': 'Puerto Rico',
 'brk_a3': 'PRI',
 'brk_name': 'Puerto Rico',
 'brk_group': None,
 'abbrev': 'P.R.',
 'postal': 'PR',
 'formal_en': 'Commonwealth of Puerto Rico',
 'formal_fr': None,
 'note_adm0': 'Commonwealth of U.S.A.',
 'note_brk': None,
 'name_sort': 'Puerto Rico',
 'name_alt': None,
 'mapcolor7': 4,
 'mapcolor8': 5,
 'mapcolor9': 1,
 'mapcolor13': 1,
 'pop_est': 3971020,
 'gdp_md_est': 70230,
 'pop_year': -99,
 'lastcensus': 2010,
 'gdp_year': -99,
 'economy': '6. Developing region',
 'income_grp': '2. High income: nonOECD',
 'wikipedia': -99,
 'fips_10': None,
 'iso_a2': 'PR',
 'iso_a3': 'PRI',
 'iso_n3': '630',
 'un_a3': '630',
 'wb_a2': 'PR',
 'wb_a3': 'PRI',
 'woe_id': -99,
 'adm0_a3_is': 'PRI',
 'adm0_a3_us': 'PRI',
 'adm0_a3_un': -99,
 'adm0_a3_wb': -99,
 'continent': 'North America',
 'region_un': 'Americas',
 'subregion': 'Caribbean',
 'region_wb': 'Latin America & Caribbean',
 'name_len': 11,
 'long_len': 11,
 'abbrev_len': 4,
 'tiny': -99,
 'homepart': -99,
 'filename': 'PRI.geojson'}

In [123]:
a = {}
for feature in l['features']:
    feature['id'] = feature['properties']['pop_est']
    a[feature['properties']['name']] = feature['id']

In [124]:
len(df['Country (or dependency)'])

235

In [125]:
len(a)

175

In [126]:
df1

                  type                                           features
0    FeatureCollection  {'type': 'Feature', 'properties': {'scalerank'...
1    FeatureCollection  {'type': 'Feature', 'properties': {'scalerank'...
2    FeatureCollection  {'type': 'Feature', 'properties': {'scalerank'...
3    FeatureCollection  {'type': 'Feature', 'properties': {'scalerank'...
4    FeatureCollection  {'type': 'Feature', 'properties': {'scalerank'...
..                 ...                                                ...
170  FeatureCollection  {'type': 'Feature', 'properties': {'scalerank'...
171  FeatureCollection  {'type': 'Feature', 'properties': {'scalerank'...
172  FeatureCollection  {'type': 'Feature', 'properties': {'scalerank'...
173  FeatureCollection  {'type': 'Feature', 'properties': {'scalerank'...
174  FeatureCollection  {'type': 'Feature', 'properties': {'scalerank'...

[175 rows x 2 columns]

In [127]:
import requests

In [128]:
df1 = pd.read_csv('https://raw.githubusercontent.com/nikhilkumarsingh/choropleth-python-tutorial/master/india_census.csv')

In [129]:
df1

,Rank,State or union territory,Population,Population (%),Decadal growth(2001–2011),Rural population,Percent rural,Urban population,Percent urban,Area[16],Density[a],Sex ratio
0,1.0,Uttar Pradesh,199812341,NaN,20.20%,155317278,NaN,44495063,NaN,"240,928 km2 (93,023 sq mi)","828/km2 (2,140/sq mi)",912
1,2.0,Maharashtra,112374333,NaN,20.00%,61556074,NaN,50818259,NaN,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
2,3.0,Bihar,104099452,NaN,25.40%,92341436,NaN,11758016,NaN,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918
3,4.0,West Bengal,91276115,NaN,13.80%,62183113,NaN,29093002,NaN,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953
4,5.0,Madhya Pradesh,72626809,NaN,16.30%,52557404,NaN,20069405,NaN,"308,245 km2 (119,014 sq mi)",236/km2 (610/sq mi),931
5,6.0,Tamil Nadu,72147030,NaN,15.60%,37229590,NaN,34917440,NaN,"130,058 km2 (50,216 sq mi)","555/km2 (1,440/sq mi)",996
6,7.0,Rajasthan,68548437,NaN,21.30%,51500352,NaN,17048085,NaN,"342,239 km2 (132,139 sq mi)",201/km2 (520/sq mi),928
7,8.0,Karnataka,61095297,NaN,15.60%,37469335,NaN,23625962,NaN,"191,791 km2 (74,051 sq mi)",319/km2 (830/sq mi),973
8,9.0,Gujarat,60439692,NaN,19.30%,34694609,NaN,25745083,NaN,"196,024 km2 (75,685 sq mi)",308/km2 (800/sq mi),919
9,10.0,Andhra Pradesh,49577103,NaN,11.00%,34966693,NaN,14610410,NaN,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993
10,11.0,Odisha,41974219,NaN,14.00%,34970562,NaN,7003656,NaN,"155,707 km2 (60,119 sq mi)",269/km2 (700/sq mi),979
11,12.0,Telangana,35003674,NaN,13.58%,21395009,NaN,13608665,NaN,"112,077 km2 (43,273 sq mi)",312/km2 (810/sq mi),988
12,13.0,Kerala,33406061,NaN,4.90%,17471135,NaN,15934926,NaN,"38,863 km2 (15,005 sq mi)","859/km2 (2,220/sq mi)",1084
13,14.0,Jharkhand,32988134,NaN,22.40%,25055073,NaN,7933061,NaN,"79,714 km2 (30,778 sq mi)","414/km2 (1,070/sq mi)",948
14,15.0,Assam,31205576,NaN,17.10%,26807034,NaN,4398542,NaN,"78,438 km2 (30,285 sq mi)","397/km2 (1,030/sq mi)",954
15,16.0,Punjab,27743338,NaN,13.90%,17344192,NaN,10399146,NaN,"50,362 km2 (19,445 sq mi)","550/km2 (1,400/sq mi)",895
16,17.0,Chhattisgarh,25545198,NaN,22.60%,19607961,NaN,5937237,NaN,"135,191 km2 (52,198 sq mi)",189/km2 (490/sq mi),991
17,18.0,Haryana,25351462,NaN,19.90%,16509359,NaN,8842103,NaN,"44,212 km2 (17,070 sq mi)","573/km2 (1,480/sq mi)",879
18,19.0,Uttarakhand,10086292,NaN,18.80%,7036954,NaN,3049338,NaN,"53,483 km2 (20,650 sq mi)",189/km2 (490/sq mi),963
19,20.0,Himachal Pradesh,6864602,NaN,12.90%,6176050,NaN,688552,NaN,"55,673 km2 (21,495 sq mi)",123/km2 (320/sq mi),972
20,21.0,Tripura,3673917,NaN,14.80%,2712464,NaN,961453,NaN,"10,486 km2 (4,049 sq mi)",350/km2 (910/sq mi),960
21,22.0,Meghalaya,2966889,NaN,27.90%,2371439,NaN,595450,NaN,"22,429 km2 (8,660 sq mi)",132/km2 (340/sq mi),989
22,23.0,Manipur,2570390,NaN,18.60%,1793875,NaN,776515,NaN,"22,327 km2 (8,621 sq mi)",122/km2 (320/sq mi),992
23,24.0,Nagaland,1978502,NaN,−0.6%,1407536,NaN,570966,NaN,"16,579 km2 (6,401 sq mi)",119/km2 (310/sq mi),931
24,25.0,Goa,1458545,NaN,8.20%,551731,NaN,906814,NaN,"3,702 km2 (1,429 sq mi)","394/km2 (1,020/sq mi)",973
25,26.0,Arunanchal Pradesh,1383727,NaN,26.00%,1066358,NaN,317369,NaN,"83,743 km2 (32,333 sq mi)",17/km2 (44/sq mi),938
26,27.0,Mizoram,1097206,NaN,23.50%,525435,NaN,571771,NaN,"21,081 km2 (8,139 sq mi)",52/km2 (130/sq mi),976
27,28.0,Sikkim,610577,NaN,12.90%,456999,NaN,153578,NaN,"7,096 km2 (2,740 sq mi)",86/km2 (220/sq mi),890
28,NaN,NCT of Delhi,16787941,NaN,21.20%,419042,NaN,16368899,NaN,"1,484 km2 (573 sq mi)","11,297/km2 (29,260/sq mi)",868
29,NaN,Jammu & Kashmir,12267032,NaN,23.60%,9064220,NaN,3202812,NaN,"42,241 km2 (16,309 sq mi)[d]",297/km2 (770/sq mi),890
30,NaN,Puducherry,1247953,NaN,28.10%,395200,NaN,852753,NaN,479 km2 (185 sq mi),"2,598/km2 (6,730/sq mi)",1037
31,NaN,Chandigarh,1055450,NaN,17.20%,28991,NaN,1026459,NaN,114 km2 (44 sq mi),"9,252/km2 (23,960/sq mi)",818
32,NaN,Dadara & Nagar Havelli,585764,NaN,55.10%,243510,NaN,342254,NaN,603 km2 (233 sq mi),"970/km2 (2,500/sq mi)",711
33,NaN,Daman & Diu,585764,NaN,55.10%,243510,NaN,342254,NaN,603 km2 (233 sq mi),"970/km2 (2,500/sq mi)",711
34,NaN,Andaman & Nicobar Island,380581,NaN,6.90%,237093,NaN,143488,NaN,"8,249 km2 (3,185 sq mi)",46/km2 (120/sq mi),876
35,NaN,Lakshadweep,64473,NaN,6.30%,14141,NaN,50332,NaN,32 km2 (12 sq mi),"2,013/km2 (5,210/sq mi)",946

In [130]:
d = requests.get('https://raw.githubusercontent.com/nikhilkumarsingh/choropleth-python-tutorial/master/states_india.geojson')

In [131]:
data = d.json()

In [132]:
data['features'][0]['properties']

{'cartodb_id': 1, 'state_code': 0, 'st_nm': 'Telangana'}

In [133]:
a = {}
for feature in data['features']:
    feature['id'] = feature['properties']['state_code']
    a[feature['properties']['st_nm']] = feature['id']

In [134]:
a

{'Telangana': 0,
 'Andaman & Nicobar Island': 35,
 'Andhra Pradesh': 28,
 'Arunanchal Pradesh': 12,
 'Assam': 18,
 'Bihar': 10,
 'Chhattisgarh': 22,
 'Daman & Diu': 25,
 'Goa': 30,
 'Gujarat': 24,
 'Haryana': 6,
 'Himachal Pradesh': 2,
 'Jammu & Kashmir': 1,
 'Jharkhand': 20,
 'Karnataka': 29,
 'Kerala': 32,
 'Lakshadweep': 31,
 'Madhya Pradesh': 23,
 'Maharashtra': 27,
 'Manipur': 14,
 'Chandigarh': 4,
 'Puducherry': 34,
 'Punjab': 3,
 'Rajasthan': 8,
 'Sikkim': 11,
 'Tamil Nadu': 33,
 'Tripura': 16,
 'Uttar Pradesh': 9,
 'Uttarakhand': 5,
 'West Bengal': 19,
 'Odisha': 21,
 'Dadara & Nagar Havelli': 26,
 'Meghalaya': 17,
 'Mizoram': 15,
 'Nagaland': 13,
 'NCT of Delhi': 7}

In [135]:
df1['id'] = df1['State or union territory'].apply(lambda x:a[x])

In [136]:
df1

,Rank,State or union territory,Population,Population (%),Decadal growth(2001–2011),Rural population,Percent rural,Urban population,Percent urban,Area[16],Density[a],Sex ratio,id
0,1.0,Uttar Pradesh,199812341,NaN,20.20%,155317278,NaN,44495063,NaN,"240,928 km2 (93,023 sq mi)","828/km2 (2,140/sq mi)",912,9
1,2.0,Maharashtra,112374333,NaN,20.00%,61556074,NaN,50818259,NaN,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929,27
2,3.0,Bihar,104099452,NaN,25.40%,92341436,NaN,11758016,NaN,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918,10
3,4.0,West Bengal,91276115,NaN,13.80%,62183113,NaN,29093002,NaN,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953,19
4,5.0,Madhya Pradesh,72626809,NaN,16.30%,52557404,NaN,20069405,NaN,"308,245 km2 (119,014 sq mi)",236/km2 (610/sq mi),931,23
5,6.0,Tamil Nadu,72147030,NaN,15.60%,37229590,NaN,34917440,NaN,"130,058 km2 (50,216 sq mi)","555/km2 (1,440/sq mi)",996,33
6,7.0,Rajasthan,68548437,NaN,21.30%,51500352,NaN,17048085,NaN,"342,239 km2 (132,139 sq mi)",201/km2 (520/sq mi),928,8
7,8.0,Karnataka,61095297,NaN,15.60%,37469335,NaN,23625962,NaN,"191,791 km2 (74,051 sq mi)",319/km2 (830/sq mi),973,29
8,9.0,Gujarat,60439692,NaN,19.30%,34694609,NaN,25745083,NaN,"196,024 km2 (75,685 sq mi)",308/km2 (800/sq mi),919,24
9,10.0,Andhra Pradesh,49577103,NaN,11.00%,34966693,NaN,14610410,NaN,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993,28
10,11.0,Odisha,41974219,NaN,14.00%,34970562,NaN,7003656,NaN,"155,707 km2 (60,119 sq mi)",269/km2 (700/sq mi),979,21
11,12.0,Telangana,35003674,NaN,13.58%,21395009,NaN,13608665,NaN,"112,077 km2 (43,273 sq mi)",312/km2 (810/sq mi),988,0
12,13.0,Kerala,33406061,NaN,4.90%,17471135,NaN,15934926,NaN,"38,863 km2 (15,005 sq mi)","859/km2 (2,220/sq mi)",1084,32
13,14.0,Jharkhand,32988134,NaN,22.40%,25055073,NaN,7933061,NaN,"79,714 km2 (30,778 sq mi)","414/km2 (1,070/sq mi)",948,20
14,15.0,Assam,31205576,NaN,17.10%,26807034,NaN,4398542,NaN,"78,438 km2 (30,285 sq mi)","397/km2 (1,030/sq mi)",954,18
15,16.0,Punjab,27743338,NaN,13.90%,17344192,NaN,10399146,NaN,"50,362 km2 (19,445 sq mi)","550/km2 (1,400/sq mi)",895,3
16,17.0,Chhattisgarh,25545198,NaN,22.60%,19607961,NaN,5937237,NaN,"135,191 km2 (52,198 sq mi)",189/km2 (490/sq mi),991,22
17,18.0,Haryana,25351462,NaN,19.90%,16509359,NaN,8842103,NaN,"44,212 km2 (17,070 sq mi)","573/km2 (1,480/sq mi)",879,6
18,19.0,Uttarakhand,10086292,NaN,18.80%,7036954,NaN,3049338,NaN,"53,483 km2 (20,650 sq mi)",189/km2 (490/sq mi),963,5
19,20.0,Himachal Pradesh,6864602,NaN,12.90%,6176050,NaN,688552,NaN,"55,673 km2 (21,495 sq mi)",123/km2 (320/sq mi),972,2
20,21.0,Tripura,3673917,NaN,14.80%,2712464,NaN,961453,NaN,"10,486 km2 (4,049 sq mi)",350/km2 (910/sq mi),960,16
21,22.0,Meghalaya,2966889,NaN,27.90%,2371439,NaN,595450,NaN,"22,429 km2 (8,660 sq mi)",132/km2 (340/sq mi),989,17
22,23.0,Manipur,2570390,NaN,18.60%,1793875,NaN,776515,NaN,"22,327 km2 (8,621 sq mi)",122/km2 (320/sq mi),992,14
23,24.0,Nagaland,1978502,NaN,−0.6%,1407536,NaN,570966,NaN,"16,579 km2 (6,401 sq mi)",119/km2 (310/sq mi),931,13
24,25.0,Goa,1458545,NaN,8.20%,551731,NaN,906814,NaN,"3,702 km2 (1,429 sq mi)","394/km2 (1,020/sq mi)",973,30
25,26.0,Arunanchal Pradesh,1383727,NaN,26.00%,1066358,NaN,317369,NaN,"83,743 km2 (32,333 sq mi)",17/km2 (44/sq mi),938,12
26,27.0,Mizoram,1097206,NaN,23.50%,525435,NaN,571771,NaN,"21,081 km2 (8,139 sq mi)",52/km2 (130/sq mi),976,15
27,28.0,Sikkim,610577,NaN,12.90%,456999,NaN,153578,NaN,"7,096 km2 (2,740 sq mi)",86/km2 (220/sq mi),890,11
28,NaN,NCT of Delhi,16787941,NaN,21.20%,419042,NaN,16368899,NaN,"1,484 km2 (573 sq mi)","11,297/km2 (29,260/sq mi)",868,7
29,NaN,Jammu & Kashmir,12267032,NaN,23.60%,9064220,NaN,3202812,NaN,"42,241 km2 (16,309 sq mi)[d]",297/km2 (770/sq mi),890,1
30,NaN,Puducherry,1247953,NaN,28.10%,395200,NaN,852753,NaN,479 km2 (185 sq mi),"2,598/km2 (6,730/sq mi)",1037,34
31,NaN,Chandigarh,1055450,NaN,17.20%,28991,NaN,1026459,NaN,114 km2 (44 sq mi),"9,252/km2 (23,960/sq mi)",818,4
32,NaN,Dadara & Nagar Havelli,585764,NaN,55.10%,243510,NaN,342254,NaN,603 km2 (233 sq mi),"970/km2 (2,500/sq mi)",711,26
33,NaN,Daman & Diu,585764,NaN,55.10%,243510,NaN,342254,NaN,603 km2 (233 sq mi),"970/km2 (2,500/sq mi)",711,25
34,NaN,Andaman & Nicobar Island,380581,NaN,6.90%,237093,NaN,143488,NaN,"8,249 km2 (3,185 sq mi)",46/km2 (120/sq mi),876,35
35,NaN,Lakshadweep,64473,NaN,6.30%,14141,NaN,50332,NaN,32 km2 (12 sq mi),"2,013/km2 (5,210/sq mi)",946,31

In [137]:
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'browser'

In [138]:
fig = px.choropleth(df1,locations='id',geojson=data,color = 'Population',hover_data=['Population'],hover_name='State or union territory')
fig.update_geos(fitbounds = 'locations',visible = False)
fig.show()