In [1]:
import pandas as pd
import csv
import mysql.connector as conn

# converting into csv

In [13]:
df = pd.read_csv("car.data", header = None)
df.to_csv("car.csv",index = None)

In [14]:
df = pd.read_csv("car.csv")

In [17]:
df.head(10)

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc
5  vhigh  vhigh  2  2    med  high  unacc
6  vhigh  vhigh  2  2    big   low  unacc
7  vhigh  vhigh  2  2    big   med  unacc
8  vhigh  vhigh  2  2    big  high  unacc
9  vhigh  vhigh  2  4  small   low  unacc

# creating conn

In [19]:
mydb = conn.connect(host = "localhost" , user = "root", passwd = "Vijit699@")

In [21]:
cur = mydb.cursor()
cur.execute("CREATE DATABASE IF NOT EXISTS Car")
cur.execute("CREATE TABLE Car.Car_data(Buying VARCHAR(25),Price VARCHAR(25),Doors VARCHAR(25),Persons VARCHAR(25),Log_boot VARCHAR(25),Safety VARCHAR(25),Class_Value VARCHAR(25)) ")

# now inserting data

In [22]:
with open("car.csv","r") as d:
    data = csv.reader(d , delimiter = "\n")
    for i in data:
        cur.execute("insert into Car.Car_data values({v})".format(v=i[0]))
        mydb.commit()

ProgrammingError: 1054 (42S22): Unknown column 'vhigh' in 'field list'